*{  
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

@font-face{
    font-family:Roboto;
    src: url(./font-roboto/Roboto-Regular.ttf);

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contenedor-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.menu-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.logo-nav{
    width: 12%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.cyt-logo{
width: 100%;
}
.lista-nav{
    font-family: Roboto;
    width: 11%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    
}
.link-nav{
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 0.3rem;
}
.fill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    border: none;
    color: black;
    transition: 0.35s;
    background-color: transparent;        
}
.p-fill{    
    font-size: medium;
    
}
.fill:hover{
    padding: 0.3rem;
    box-shadow: inset 0 0 0 2rem var(--hover);
    box-sizing: inherit;
    background-color: burlywood;
    font-weight: bold;
    cursor:pointer;
}

.contenedor-icono-nav{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.icono-nav{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2.1rem;
    
}
.icono-whatsapp{
    width: 2.1rem;
}
.link-instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2.1rem;
}
.icono-instagram{
    width: 2.1rem;
}

.div-foto-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        
}
.img-header{
    width: 100%;
}
.section-quienes-somos{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cont-titulo-quienes-somos{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.titulo-quienes-somos{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    font-size: 10rem;
    font-weight: 900;
}
.linea-division{
    /* me falta estilar la linea entre quienes
     somos y el contenido del texto */

    
}
.p-contenedor-quienes-somos{
    width: 50%;
    display: flex;
    justify-content: initial;
    align-items: center;
}
.desc-quienes-somos{
    
    text-align: initial;
    font-size: 3rem;
    
}

.galeria-quienes-somos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.contenedor-galeria{
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cajas-galeria{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.todo-vino{
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-section-todo-vino{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;

}
.titulo-vinos{
    width: 100%;
    font-size: 6rem;
    font-weight: 700;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.vino-tinto{
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.contenedor-cepas-vino{
    padding-top: 2rem;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.cepa-vino{
    margin: 1rem;
}
.contenedor-info-cepa-vino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nombre-d-vino{
    margin-top: 0.2rem;
    font-size: 1.5rem;
}
.precio-d-vino{
    padding: 0.5rem;
    background-color: rgb(222, 184, 135);
    font-size: 1.5rem;
}
.agregar-a-carrito{
    margin: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: white;
    background-color: black;
}
.vino-tinto-2-linea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
}
.vino-rosado-naranjo{
    margin-top: 2.5rem;
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.vino-rosado-naranjo-2-linea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
}
.vino-blanco{
    margin-top: 2.5rem;
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.vino-blanco-2-linea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem; 
}
.pack-blends{
    width: 100%;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.contenedor-pack-blends{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.titulo-pack-blends{
    width: 100%;
    font-size: 7rem;
    font-weight: 700;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.subtitulo-pack-blend{
    margin-top: 2rem;
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.contenedor-pack-blend{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.contenedor-imagen-pack-blend{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-pack-blend{
    width: 100%;
}
.contenedor-desc-img-pack-blend{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc-img-pack-blend{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-precio-blend{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: burlywood;
    color: black;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-agregar-carrito{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-agregar-el-carro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
}
.agregar-carrito{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2rem;

}
/*ACA DEBERIA AGREGAR BUTON, Y QUE REDIRECCIONE A ALGUN  SCRIPT*/
.subtitulo-pack-blend1{
    margin-top: 2rem;
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.contenedor-pack-blend1{
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    align-items: center;
}
.contenedor-imagen-pack-blend1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-pack-blend1{
    width: 100%;
}
.contenedor-desc-img-pack-blend1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc-img-pack-blend1{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-precio-blend1{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: burlywood;
    color: black;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-agregar-carrito1{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-agregar-el-carro1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
}
.agregar-carrito1{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2rem;

}
.subtitulo-pack-blend2{
    margin-top: 2rem;
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.contenedor-pack-blend2{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.contenedor-imagen-pack-blend2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-pack-blend2{
    width: 100%;
}
.contenedor-desc-img-pack-blend2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc-img-pack-blend2{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-precio-blend2{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: burlywood;
    color: black;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-agregar-carrito2{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-agregar-el-carro2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
}
.agregar-carrito2{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2rem;

}
.subtitulo-pack-blend3{
    margin-top: 2rem;
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: initial;
    align-items: initial;
}
.contenedor-pack-blend3{
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    align-items: center;
}
.contenedor-imagen-pack-blend3{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-pack-blend3{
    width: 100%;
}
.contenedor-desc-img-pack-blend3{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc-img-pack-blend3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-precio-blend3{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: burlywood;
    color: black;
    font-size: 2.5rem;
    list-style: none;
}
.contenedor-agregar-carrito3{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-agregar-el-carro3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
}
.agregar-carrito3{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2rem;

}
.contenedor-cata-online-total{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-cata-titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:initial;
    width: 100%;
}
.titulo-catas-online{
    width: 100%;
    font-size: 8rem;
    font-weight: 900;
    text-align: initial;
}
.subtitulo-catas-online{
    margin-top: 2rem;
    width: 100%;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}
.contenedor-texto-imagen-cata-online{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cata-zoom{
    width: 50%;
}
.cont-desc-cata-zoom{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.desc-cata-zoom{
    list-style: none;
    font-size: 5rem;
}
.desc-cata-zoom-reserva{
    list-style: none;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.contenedor-newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    background-color:white;
    color: white;
}

.parent-wrapper {
    margin-top: 5rem;  
    position: relative;
    width: 40rem;
    height: 27rem;
    background-image: url('http://www.imgbase.info/images/safe-wallpapers/digital_art/1_miscellaneous_digital_art/41750_1_miscellaneous_digital_art_simple_dark_shapes.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -600%;
    background-color: #000;
    border-radius: 0.4rem;
    color: #FFF;
    box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.close-btn {
    margin: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.subscribe-wrapper {
    position: absolute;
    left: -3rem;
    right: -3rem;
    height: 20rem;
    padding: 3rem;
    background-image: url('https://i.imgur.com/MRjF1PL.png?1');
    background-position-x: 272%;
    background-position-y: -0.1rem;
    background-repeat: no-repeat;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #333;
    box-shadow: 0rem 0rem 6rem 0.5rem rgba(0, 0, 0, 0.4);
}

.subscribe-wrapper:after {
    position: absolute;
    content: "";
    right: -1rem;
    bottom: 7.1rem;
    width: 0;
    height: 0;
    border-left: 0rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #7149c7;
}

.subscribe-wrapper h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  
}

.subscribe-wrapper input {
    font-size: 2rem ;
    position: absolute;
    bottom: 5rem;
    border: none;
    border-bottom: 0.1rem solid #d4d4d4;
    padding: 1rem;
    width: 70%;
    background: transparent;
    transition: all .25s ease;
}

.subscribe-wrapper input:focus {
    outline: none;
    border-bottom: 0.1rem solid #a77cf4;
}

.subscribe-wrapper .submit-btn {
    position: absolute;
    border-radius: 0.3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color:black;
    color: #FFF;
    padding: 1.2rem 2.5rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    right: -1rem;
    bottom: 3rem;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -0.5rem 0.6rem 2rem 0rem rgba(51, 51, 51, 0.4);
}

.subscribe-wrapper .submit-btn:hover {
  background-color: burlywood;
}
