html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: white;
    
}

@font-face{
    font-family:Roboto;
    src: url(./font-roboto/Roboto-Regular.ttf);

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.contenedor-nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: white;
}
.logo-nav{
    width: 20vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.cyt-logo{
width: 100%;
}

.menu-nav{
     width: 60vw;
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     text-decoration: none;
}
.lista-nav{
    font-family: Roboto;
    width: 12vw;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
}
.fill{
    font-size: large;
    border: none;
    background-color: white;
    margin: auto;
    color: black;
    transition: 0.35s;        
}
.fill:hover{
    padding: 0.3rem;
    box-shadow: inset 0 0 0 2rem var(--hover);
    box-sizing: inherit;
    color: white;
    background-color: burlywood;
    font-weight: bold;
}


.link-nav{
    color: black;
    text-decoration: none;
}
.redes-nav{
    width: 20vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.icono-nav{
    width:10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.icono-whatsapp{
    width: 25%;
}
.link-instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.icono-instagram{
    width: 25%;
}

.div-foto-header{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;    
}
.img-header{
    
    width: 65%;
}
